@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #2a1f39;
  --side-color: #5d5369;
}
/* If I want to implement light/dark mode: @media (prefers-color-scheme: dark) {} */

/* ELEMENTS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white;
}

p {
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: white;
  font-size: 1.25rem;
  color: var(--bg-color);
}

.text-link {
  padding: 0 0.5rem;
  font-size: 1.3rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: white;
  transition: text-decoration-color 0.2s ease-out;
}
.text-link:hover {
  text-decoration-color: transparent;
}

/* UTILITIES */

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-wide {
  max-width: 1500px;
}

.clr-dark {
  color: var(--bg-color);
}
.bg-dark {
  background-color: var(--bg-color);
}
.bg-side {
  background-color: var(--side-color);
}

/* ANIMATIONS */

.move-up {
  background-color: #fff;
  transition: transform 0.3s ease;
}
.move-up:hover {
  transform: translateY(0.3rem);
}
@media (min-width: 640px) {
  .move-up {
    transform: translateY(2rem);
  }
  .move-up:hover {
    transform: translateY(0);
    background-color: #fff;
  }
}

.indent {
  transition: all 0.2s ease-out;
}
.indent:hover {
  transform: translate(0.2rem, 0.2rem);
}

/* DECORATIVE ELEMENTS */

.decor-text {
  position: fixed;
  z-index: -1;
  font-size: 30vw;
  color: var(--side-color);
  opacity: 0.3;
}
.decor-text-center {
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}
.decor-text-right {
  top: 50%;
  right: -5vw;
  transform: translateY(-50%);
}

.nav-link-active {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  cursor: default;
  pointer-events: none;
}

.bg-dots {
  position: relative;
  margin-right: 1rem;
}
.bg-dots::after {
  content: '';
  position: absolute;
  top: 0.8rem;
  right: -1rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  background-image: url('/dots.png');
  background-repeat: repeat;
  background-size: auto;
}

.bg-frame {
  position: relative;
  margin-right: 1rem;
}
.bg-frame::after {
  content: '';
  position: absolute;
  top: 0.4rem;
  right: -0.4rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

.side-decor {
  position: relative;
  border-left: 1px solid white;
  padding: 0 0 4rem 2rem;
}
.side-decor::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-color);
  border: 2px solid white;
  border-radius: 50%;
  top: 0;
  left: -0.5rem;
}
