@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  --bg-color: #f9f9f9;
  --secondary-color: #2a1f39;
  --side-color: #5d5369;

  /* LAYOUT */
  --nav-height: 5rem;

  /* DECOR */
  --dots-img: url('/dots-dark.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    --bg-color: #2a1f39;
    --secondary-color: #f9f9f9;

    /* DECOR */
    --dots-img: url('/dots-light.png');
  }
}

/* ELEMENTS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* Give space to the sticky nav */
  padding-top: var(--nav-height);
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

p {
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  font-size: 1.25rem;
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  transition: all 0.2s ease-out;
}

.btn-sm {
  padding: 0 0.5rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
}

.btn-social {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  background-color: var(--bg-color);
}
.btn-social svg {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  font-size: 3rem;
  color: var(--bg-color);
}

.text-link {
  padding: 0 0.5rem;
  font-size: 1.3rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: var(--secondary-color);
  transition: text-decoration-color 0.2s ease-out;
}
.text-link:hover {
  text-decoration-color: transparent;
}

.form-group {
  position: relative;
  width: 100%;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1.5rem 1rem 0.5rem;
  border: 1px solid var(--secondary-color);
  background: var(--bg-color);
  color: var(--secondary-color);
  outline: none;
}
.form-group textarea {
  height: 200px;
}
.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0.2rem 0.2rem 0 0 var(--secondary-color);
}
.form-group label,
.form-group textarea + label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  color: var(--secondary-color);
  transform: translateY(-50%);
}
.form-group textarea + label {
  top: 2rem;
}
.form-group input.filling + label,
.form-group textarea.filling + label {
  font-size: 0.75rem;
  top: 0;
  color: var(--secondary-color);
  transform: translateY(0.5rem);
}

/* UTILITIES */

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.scroll-top {
  scroll-margin-top: calc(var(--nav-height) + 1.5rem);
}

.clr-bg {
  color: var(--bg-color);
}
.bg-bg {
  background-color: var(--bg-color);
}
.clr-sec {
  color: var(--secondary-color);
}
.bg-side {
  background-color: var(--side-color);
}

/* ANIMATIONS */

.move-up {
  background-color: var(--secondary-color);
  transition: transform 0.3s ease;
}
.move-up:hover {
  transform: translateY(0.3rem);
}
@media (min-width: 640px) {
  .move-up {
    transform: translateY(2rem);
  }
  .move-up:hover {
    transform: translateY(0);
    background-color: var(--secondary-color);
  }
}

.indent {
  transition: all 0.2s ease-out;
}
.indent:hover {
  transform: translate(0.2rem, 0.2rem);
}

.elevate {
  transition: all 0.2s ease-out;
}
.elevate:hover {
  background: var(--secondary-color);
  color: var(--bg-color);
  transform: scale(1.05);
}
.elevate:hover .btn {
  color: var(--secondary-color);
  background: var(--bg-color);
}
.elevate:hover .btn:hover {
  color: var(--bg-color);
  background: var(--secondary-color);
  box-shadow: inset 0 0 0 1px var(--bg-color);
}

.accordion {
  display: none;
  overflow: hidden;
}
.accordion.open {
  display: block;
}

/* DECORATIVE ELEMENTS */

.decor-text {
  position: fixed;
  top: 10vh;
  left: 50%;
  z-index: -1;
  font-size: 30vw;
  color: var(--side-color);
  transform: translateX(-50%);
  opacity: 0.3;
}

.nav-link-active {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  pointer-events: none;
}

.bg-dots {
  position: relative;
  z-index: 10;
  margin-right: 1rem;
  background-color: var(--secondary-color);
}
.bg-dots::after {
  content: '';
  position: absolute;
  top: 0.8rem;
  right: -1rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 2px solid var(--secondary-color);
  background-image: var(--dots-img);
  background-repeat: repeat;
  background-size: auto;
}

.bg-frame {
  position: relative;
  margin-right: 1rem;
}
.bg-frame::after {
  content: '';
  position: absolute;
  top: 0.4rem;
  right: -0.4rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 2px solid var(--secondary-color);
}

.side-decor {
  position: relative;
  border-left: 1px solid var(--secondary-color);
  padding: 0 0 4rem 2rem;
}
.side-decor::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-color);
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  top: 0;
  left: -0.5rem;
}
