@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #2a1f39;
  --side-color: #5d5369;
}
/* If I want to implement light/dark mode: @media (prefers-color-scheme: dark) {} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white;
}

p {
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-wide {
  max-width: 1500px;
}

.clr-dark {
  color: var(--bg-color);
}
.bg-dark {
  background-color: var(--bg-color);
}
.bg-side {
  background-color: var(--side-color);
}

.move-up {
  background-color: #fff;
}
.move-up:hover {
  @apply bg-indigo-100;
}

@media (min-width: 640px) {
  .move-up {
    transform: translateY(2rem);
    transition: transform 0.3s ease;
  }
  .move-up:hover {
    transform: translateY(0);
  }
}

.side-decor {
  position: relative;
  border-left: 1px solid white;
  padding: 0 0 4rem 2rem;
}
.side-decor::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-color);
  border: 2px solid white;
  border-radius: 50%;
  top: 0;
  left: -0.5rem;
}

.text-link {
  @apply text-xl underline underline-offset-2;
}
