@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #2a1f39;
}
/* If I want to implement light/dark mode: @media (prefers-color-scheme: dark) {} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
